//FONT
$default-font-size: 1.6rem;

// turquoise => #0679a8

// arka plan => #272333

// container => #302c40


$color-bg: #272333;
$color-container: #302c40;
$color-turquoise: #0679a8;
$color-text: #fff;
$color-desc: #DEDDE0;