/*
1em = 16px
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/files/images/bg-1.png), url(/assets/files/images/bg-2.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: #272333;
  color: #fff;
  line-height: 1.5;
}

.btn-turquoise {
  background-color: #0679a8;
}

.sidebar {
  background-color: #302c40;
  border-radius: 1.4rem;
  padding: 3rem 0;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .sidebar {
    margin: 0 1rem 2rem;
  }
}

.sidebar__image {
  width: 220px;
  margin: 0 auto;
  margin-top: -9rem;
}

.sidebar__info {
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar__title {
  color: #fff;
}

.sidebar__badge {
  color: #fff;
  font-size: .8rem;
  background: #272333;
  display: inline-block;
  padding: .4rem 1rem;
  border-radius: 1rem;
  margin: .5rem 0 1rem;
}

.sidebar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__social-item:not(:last-child) {
  margin-right: 1rem;
}

.sidebar__social-link i {
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar__social-link:hover i {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__menu-item:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebar__menu-link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar__menu-link::before, .sidebar__menu-link::after {
  content: "";
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #0679a8;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sidebar__menu-link::before {
  margin-right: 0.6rem;
  left: -30px;
}

.sidebar__menu-link::after {
  margin-left: 0.6rem;
  right: -30px;
}

.sidebar__menu-link:hover {
  color: #fff;
}

.sidebar__menu-link:hover::before {
  left: 0;
  opacity: 1;
}

.sidebar__menu-link:hover::after {
  right: 0;
  opacity: 1;
}

.sidebar__menu-link.active {
  background: #27233369;
  padding: 0.4rem 2rem;
  border-radius: 1.5rem;
}

.sidebar__menu-link.active::before, .sidebar__menu-link.active::after {
  opacity: 1;
}

.sidebar__menu-link.active::before {
  left: 0;
}

.sidebar__menu-link.active::after {
  right: 0;
}

.sidebar__btn {
  color: #fff;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  padding: 0.6rem 2rem;
  -webkit-box-shadow: rgba(19, 153, 206, 0.582) 0px 8px 18px -5px, rgba(19, 153, 206, 0.582) 0px 5px 13px -8px;
          box-shadow: rgba(19, 153, 206, 0.582) 0px 8px 18px -5px, rgba(19, 153, 206, 0.582) 0px 5px 13px -8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #06729e;
  color: #fff;
}

@media only screen and (min-width: 37.6em) and (max-width: 56.2em) {
  .sidebar__btn {
    padding: 0.4rem 1.3rem;
  }
}

.main {
  padding: 7rem 0;
}

@media only screen and (max-width: 37.5em) {
  .main {
    padding: 7rem 0rem 3rem;
    overflow: hidden;
  }
}

.main__content {
  background-color: #302c40;
  border-radius: 1.4rem;
  margin-left: 1rem;
  padding: 2rem 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .main__content {
    padding: 2rem 1rem;
    margin: 0 1rem 2rem;
  }
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.section__title {
  color: #fff;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.4rem;
  margin-bottom: 3rem;
}

.section__title--line {
  position: relative;
}

.section__title--line::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 0;
  width: 100px;
  height: 5px;
  border-radius: .4rem;
  background-color: #0679a8;
}

.section__sub-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.about-text p {
  color: #fff;
  font-size: 0.94rem;
}

.about-text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.do-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #272333;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .do-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 37.6em) and (max-width: 56.2em) {
  .do-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.do-card__info {
  padding-left: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .do-card__info {
    text-align: center;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 37.6em) and (max-width: 56.2em) {
  .do-card__info {
    text-align: center;
    margin-top: 1rem;
  }
}

.do-card__text {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.do-card__desc {
  color: #DEDDE0;
  font-size: 0.9rem;
}

.skill-card {
  background-color: #272333;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.skill-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #302c40;
  padding: 0.1rem 0.8rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.7rem;
}

.skill-card__bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #0679a8;
  width: 0;
  z-index: 0;
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
}

.skill-card__text, .skill-card__count {
  font-size: 0.7rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio__filter button {
  margin: 0 0.4rem;
  border: 0;
  background: transparent;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__filter button {
    margin: .5rem .5rem;
  }
}

.portfolio__filter button.active {
  font-weight: 600;
  color: #0679a8;
  position: relative;
}

.portfolio__filter button.active::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0679a8;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.portfolio__item {
  width: 50%;
  max-height: 350px;
  padding: 0 0.5rem 0;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__item {
    width: 50%;
  }
}

.portfolio__image {
  border-radius: .7rem;
  overflow: hidden;
}

.portfolio__image img {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio__image img:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.portfolio__title {
  color: #fff;
  margin-top: 1rem;
  display: inline-block;
}

.timeline {
  padding: 2rem 0;
}

.timeline__item {
  padding-left: 1rem;
  padding-bottom: 1rem;
  position: relative;
  border-left: 2px solid rgba(222, 221, 224, 0.3);
}

.timeline__item::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  top: 0;
  width: 13px;
  height: 13px;
  background-color: #0679a8;
  border-radius: 50%;
}

.timeline__title {
  color: #fff;
  font-weight: 700;
  position: relative;
}

.timeline__subtitle {
  color: #DEDDE0;
  font-size: 0.9rem;
  margin-top: 0.4rem;
  display: block;
  font-weight: bold;
}

.timeline__date {
  color: #DEDDE0;
  font-size: 0.9rem;
  margin: 0.4rem 0;
  display: inline-block;
  font-weight: bold;
}

.timeline__desc {
  color: #DEDDE0;
  font-size: 0.9rem;
}

.language {
  position: absolute;
  top: 5rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.language__item {
  margin-bottom: 1rem;
  background-color: #302c40;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 600;
  border-radius: 0.3rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.language__item:hover {
  background-color: #0679a8;
  color: #DEDDE0;
}

.language__item.active {
  background-color: #0679a8;
  color: #DEDDE0;
}
/*# sourceMappingURL=main.css.map */