.main{
    padding: 7rem 0;
    &__content{
        background-color: $color-container;
        border-radius: 1.4rem;
        margin-left: 1rem;
        padding: 2rem 2.5rem;
    }
}

.section{
    display: none;
    &.active{
        display: block;
    }
    &__title{
        color: $color-text;
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.4rem;
        margin-bottom: 3rem;
        &--line{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 130%;
                left: 0;
                width: 100px;
                height: 5px;
                border-radius: .4rem;
                background-color: $color-turquoise;
            }
        }
    }

    &__sub-title{
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.about-text{
    p{
        color: $color-text;
        font-size: 0.94rem;
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
}

.do-card{
    display: flex;
    justify-content: space-between;
    background-color: $color-bg;
    margin: 1rem 0;
    padding: 1rem 1rem;
    border-radius: 1rem;
    &__info{
        padding-left: 1rem;
    }
    &__text{
        margin-bottom: 0.4rem;
        font-weight: 600;
    }
    &__desc{
        color: $color-desc;
        font-size: 0.9rem;
    }
}

.skill-card{
    background-color: $color-bg;
    margin: 1rem 0;
    padding: 1rem 1rem;
    border-radius: 1rem;
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-container;
        padding: 0.1rem 0.8rem;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        margin-bottom: 0.7rem;
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $color-turquoise;
        width: 0;
        z-index: 0;
        transition: width 1.5s;
    }
    &__text,
    &__count{
        font-size: 0.7rem;
        font-weight: 600;
        position: relative;
        z-index: 1;
    }
}

.portfolio{
    &__filter{
        display: flex;
        align-items: center;
        button{
            margin: 0 0.4rem;
            border: 0;
            background: transparent;
            color: $color-text;
            &.active{
                font-weight: 600;
                color: $color-turquoise;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 110%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color-turquoise;
                }
            }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    }
    &__item{
        width: 33.3%;
        height: 250px;
        padding: 0 0.5rem 3rem;
        margin-bottom: 2rem;
    }
    &__image{
        border-radius: .7rem;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .3s;
            &:hover{
                transform: scale(1.09);
            }
    
        }
        
    }
    &__title{
        color: $color-text;
        margin-top: 1rem;
        display: inline-block;
    }
    
}

.timeline{
    padding: 2rem 0;
    &__item{
        padding-left: 1rem;
        padding-bottom: 1rem;
        position: relative;
        border-left: 2px solid rgba($color-desc, 0.3);
        &::before{
            content: "";
            position: absolute;
            left: -0.5rem;
            top: 0;
            width: 13px;
            height: 13px;
            background-color: $color-turquoise;
            border-radius: 50%;
        }
    }
    &__title{
        color: $color-text;
        font-weight: 700;
        position: relative;
        
    }
    &__date{
        color: $color-desc;
        font-size: 0.9rem;
        margin: 0.4rem 0;
        display: inline-block;
    }
    &__desc{
        color: $color-desc;
        font-size: 0.9rem;
    }
}

